services:
  fetcher:
    build: .
    volumes:
      - ./logs:/app/logs
    environment:
      - FORTI_API_URL=<>
      - FORTI_API_TOKEN=<>
      - TIME_TO_SLEEP=<> # Default 60 Seconds

  elastic-agent:
    image: docker.elastic.co/beats/elastic-agent:8.18.2
    restart: always
    environment:
      - FLEET_ENROLL=1
      - FLEET_ENROLLMENT_TOKEN=<>
      - FLEET_URL=<>
    pid: "host"
    privileged: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./logs:/app/logs
